{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if items %}
            <div class="row" style="margin-bottom: 30px">
                <h1 class="col-md-6">{{ title }}</h1>
                <div class="col-md-6 text-md-right text-center">
                    <a href="{{ add_url }}" class="btn btn-secondary btn-lg">
                        Add new <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="row cards-archive">
                {% for item in items %}
                    <div class="col-lg-4 col-md-6">
                        {% include '_single_card.html' with item=item %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning text-center">
                {{ no_results_txt }}
            </div>
        {% endif %}
        <div class="text-center archive_cta">
            <a href="{{ add_url }}" class="btn btn-secondary btn-lg">
                Add new <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endblock %}