{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="page_title">Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    <p>
                        <button type="submit" class="btn btn-success">Login</button>
                    </p>
                </form>
                <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
            </div>
        </div>
    </div>
{% endblock %}