.removeCart {
  color: $link-color;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 24px;
}

.cart_adjust_nav {
  li {
    padding: 0 5px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

button.adjust_btn {
  border: none;
  background: $primary-color;
  color: #fff;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}