@import "variables";

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.2rem;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $bg-colour;
  padding-top: $sm-header-height;

  @media (min-width: 600px) {
    padding-top: $lg-header-height;
  }
}

ul.flashes,
ul.errors {
  li {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
}

.alerts,
ul.errors li {
  & > *:not(.btn) {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px;
  }
}

main.content {
  padding-top: 2rem;
}

.hidden {
  display: none;
}