@import "variables";

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.2rem;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $bg-colour;
  padding-top: $sm-header-height;

  @media (min-width: 600px) {
    padding-top: $lg-header-height;
  }
}

ul.flashes,
ul.errors {
  li {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
}

.alerts,
ul.errors li {
  & > *:not(.btn) {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px;
  }
}

main.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hidden {
  display: none;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn {
  text-transform: uppercase;
}

.imageContainer {
  margin-top: -2rem;
  margin-bottom: 2rem;
  background-color: #000;
  position: relative;

  @media (min-width: 600px) {
    margin-top: -64px;
  }

  img {
    width: 100%;
    height: auto;
    opacity: 0.3;
  }

  .bgImgContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;

    h1 {
      color: #fff;
    }

    hr {
      border-top-color: #fff;
    }
  }
}