<div class="table-responsive cart-overview">
    <table class="table cart">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantities</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for item in cart %}
            <tr>
                <td>
                    <a href="{% url 'feature_single' item.id %}">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    {{ item.description|truncatewords:10 }}
                </td>
                <td>
                    <table style="border: none">
                        <tr>
                            <td>{% include '_adjust_cart_form.html' with action='decrement' %}</td>
                            <td>{{ item.qty }}</td>
                            <td>{% include '_adjust_cart_form.html' with action='increment' %}</td>
                        </tr>
                    </table>
                </td>
                <td>&euro;{{ item.total_price }}</td>
                <td>
                    {% if not checkout %}
                        <form action="{% url 'cart_delete' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="removeCart">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3" class="text-right">TOTAL PRICE</th>
            <th colspan="2">&euro;{{ cart_total_price }}</th>
        </tr>
    </table>
</div>