{% load render_bundle from webpack_loader %}
{% load archive_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Issue tracker - home automation</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    {% render_bundle 'undefined' 'css' %}
    {% render_bundle 'app' 'css' %}
</head>
<body class="{{ body_class }}">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">ISSUE TRACKER</a>
    <button id="menuOpener" class="navbar-toggler" type="button"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item{% if request.path == '/' %} active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item{% if request.path == '/stats/' %} active{% endif %}">
                <a class="nav-link" href="{% url 'page_stats' %}">Statistics</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item{% if request.path == '/cart/' or request.path == '/checkout/' %}
                active{% endif %}">
                    <a href="{% url 'cart' %}" class="nav-link">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Cart
                        {% if cart_items > 0 %}
                            <span class="badge badge-light">{{ cart_items }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item{% if request.path == '/accounts/profile/' %} active{% endif %}">
                    <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item {% if request.path|active_helper:'/bugs' %} active{% endif %}">
                    <a href="{% url 'bug_archive' %}" class="nav-link">Bugs</a>
                </li>
                <li class="nav-item {% if request.path|active_helper:'/features' %} active{% endif %}">
                    <a href="{% url 'feature_archive' %}" class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li class="nav-item{% if request.path == '/accounts/register/' %} active{% endif %}">
                    <a href="{% url 'register' %}" class="nav-link">Register</a>
                </li>
                <li class="nav-item{% if request.path == '/accounts/login/' %} active{% endif %}">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% if messages %}
    <div class="messages text-center">
        <div class="">
            {% for message in messages %}
                <div class="{% if message.tags %}
        alert alert-{{ message.tags|bootstrap_status }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<main class="content">
    {% block content %}
    {% endblock %}
</main>
{% block footer_js %}
{% endblock %}
{% render_bundle 'runtime' 'js' %}
{% render_bundle 'npm.moment' 'js' %}
{% render_bundle 'npm.core-js' 'js' %}
{% render_bundle 'npm.font-awesome' 'js' %}
{% render_bundle 'npm.chart.js' 'js' %}
{% render_bundle 'npm.style-loader' 'js' %}
{% render_bundle 'npm.jquery' 'js' %}
{% render_bundle 'undefined' 'js' %}
{% render_bundle 'app' 'js' %}

</body>
</html>